/*body{*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    /*//background: gray;*/
/*}*/
.main_container{
    margin: 0 auto;
    width: 100%;
    height:100%;
    background: gray;
}
.container_login{
    margin: 0 auto;
    width: 500px;
    padding-top:150px;
}
.container_login_new{
    margin-left: 100px;
    margin-top: 50px;

}
.form-group input{
    width:270px;
}
.form-group select{
    width:270px;
}
.ui-tabview .ui-tabview-panel{
    padding: 1px;
}
.form-horizontal .form-group input{
    width:100%;
}
.form-horizontal .form-group select{
    width:100%;
}
.ui-tabview.ui-tabview-top>.ui-tabview-nav{
    margin-left: 365px;
    margin-bottom: 20px;
}
