<!--
<div class="main_container">
    <div class="container_login">
        <p-tabView>
            <div class="container_login_new">
                <p-tabPanel header="Login">
                        <login></login>
                </p-tabPanel>
                <p-tabPanel header="Register">
                    <register></register>
                </p-tabPanel>
            </div>
        </p-tabView>
    </div>
</div>-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p-tabView>
                <p-tabPanel header="Login">
                    <login></login>
                </p-tabPanel>
                <p-tabPanel header="Register">
                    <register></register>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>